@import "../uikit/uikit.scss";
@import "./parts/index.scss";

body {
  display: grid;
  grid-template-columns: 1fr;
  @media ($desktop) {
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
  }
}
main {
  box-sizing: border-box;
  grid-column-start: 1;
  grid-column-end: 2;
}
section {
  box-sizing: border-box;
  width: 100%;
}
